* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;


}

h1 {
    color: #171717;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    font-size: 450%;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: "Reddit Sans", sans-serif;
    font-size: 4.5rem;
    letter-spacing: 5px;
    text-align: center;
}

h2 {
    color: #a2a2a2;
    position: absolute;
    top: 20%;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -200%);
    text-align: center;
    font-size: 2.5rem;
    width: max-content;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-family: "Reddit Sans", sans-serif;
}

header {
    text-align: center;
    transform: translateY(450px);


}

.start-button {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, 200%);
    padding: 10px 26px;
    font-size: 1.0rem;
    font-family: "Inter", sans-serif;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0371e6;
    box-shadow: 0 0 10px #c2afaf;
}

.home {
    box-sizing: border-box;

    border-radius: 25px;
    height: 90vh;
    width: 95vw;
    margin: auto;
    margin-top: 8vh;
    background-color: #f4f4f4;
    background-image: radial-gradient(#d1d5db82 1px, transparent 1px);
    background-size: 10px 10px;

}

.nav-links {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

a {
    color: #171717;
    text-decoration: none;
}

.logo img {
    width: 50px;
    height: 40px;
    margin-left: 2%;
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo-1 img {
    width: 110px;
    height: 90px;
    position: absolute;
    bottom: 190px;
    left: 675px;
}

.login-button {
    position: absolute;
    right: -120%;
    padding: 8px 20px;
    font-size: 1rem;
    font-family: "Reddit Sans", sans-serif;
    color: #171717;
    background-color: #ffffff;
    border: 2px solid #a9a8a8;
    border-radius: 5px;
    cursor: pointer;

}

.signup-button {
    font-family: "Reddit Sans", sans-serif;
    padding: auto;
    border: none;
    font-size: 110%;
    background-color: transparent;
    position: relative;
    margin-left: 90%;
    min-width: max-content
}